@font-face {
    font-family: 'Fake Receipt';
    src: url('fonts/fakerece-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

.admin, .admin  submit {
    width: 20%;
    font-size: 5pt;
}

.admin-input {
    height: 20px;
    font-family: Fake Receipt;
    font-size: 10pt;
}

body {
    background-color: white;
    font-family: Fake Receipt;
    margin:0;
}

#agreement-form {
    position: fixed;
    left: 25%;
    top: 20px;
    }
    
    
#print-input, #origin-input {
    height: 20px;
    font-family: Fake Receipt;
    font-size: 10pt;
}

select {
    padding: 20px;
    font-family: Fake Receipt;
}

#print-input {
    width: 50%;
    border: none;
    background-color: white;
}

#origin-input {
    width: 20%;
    border: none;
    text-align: center;
}

/*input[type=submit] {*/
/*    background: #DCDCDC;*/
/*    cursor: zoom-in;*/
/*    color: #FFFFFF;*/
/*    border: 3px solid #C8C8C8;*/
/*}*/

.delete {
    text-decoration: none;
    color: black;
}

.dropdown {
    position: fixed;
    top: 24px;
    left: 20px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.container {
    width: 100%;
    margin:0;
}

.item-container {
    margin-top:0px;
}

.brand {
    font-family: Fake Receipt;
    color:white;
    font-size: 10pt;
}

.words {
    width: 100%;
    margin: 0 auto;
    font-size: 100pt;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}

.words:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 0em }
    100% { text-indent: -45em }
}



.username {
    text-decoration: underline;
}

.hyphenate {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.format {
    font-size: 30pt;
    font-weight: bold;
}

.origin {
    background-color: #FAFFBD;
}

#login-buttons .login-button,
.accounts-dialog .login-button {
    background-color: white;
    color: black;
}

#login-buttons a,
.accounts-dialog a {
    cursor: pointer;
    text-decoration: underline;
    font-size: 6pt;
    font-family:Fake Receipt;
}

.accounts-dialog label, .accounts-dialog .title {
    font-size: 10pt;
    margin-top: 7px;
    margin-bottom: -2px;
    font-family: Fake Receipt;
}